In [35]:
import pandas as pd 
import geopandas
import tensorflow as tf 
import numpy as np 
from matplotlib import pyplot

from shapely.geometry import Point
from shapely.geometry import box

## Importing the Data

In [106]:
data = pd.read_csv("/Users/chamalgomes/Documents/Python/Kaggle_Comp/EY_Comp_Data/data_train.csv")
df = pd.DataFrame(data)
df.head()

,Unnamed: 0,hash,trajectory_id,time_entry,time_exit,vmax,vmin,vmean,x_entry,y_entry,x_exit,y_exit
0,0,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_0,07:04:31,07:08:32,NaN,NaN,NaN,3.751014e+06,-1.909398e+07,3.750326e+06,-1.913634e+07
1,1,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_1,07:20:34,07:25:42,NaN,NaN,NaN,3.743937e+06,-1.932247e+07,3.744975e+06,-1.931966e+07
2,2,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_2,07:53:32,08:03:25,NaN,NaN,NaN,3.744868e+06,-1.929356e+07,3.744816e+06,-1.929284e+07
3,3,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_3,08:17:50,08:37:23,NaN,NaN,NaN,3.744880e+06,-1.929229e+07,3.744809e+06,-1.929049e+07
4,4,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_4,14:38:09,14:38:09,NaN,NaN,NaN,3.744909e+06,-1.928558e+07,3.744909e+06,-1.928558e+07

## Feature 1: Time difference between entry and exit for one trajectory

In [107]:
df[['time_entry','time_exit']] = df[['time_entry','time_exit']].apply(pd.to_datetime)
df['time_diff'] = df['time_exit']-df['time_entry']

## Feature 2: Direction of Movement for each trajectory 

During one trajectory whether the vehicle moves towards or moves away from the city. 1 denotes moving towards and 0 denotes moving away.

In [109]:
gdf = geopandas.GeoDataFrame()
gdf1 = geopandas.GeoDataFrame()

b = box(3750901.5068, -19268905.6133, 3770901.5068, -19208905.6133)

gdf['Entry_Coordinates'] = list(zip(df.x_entry, df.y_entry))
gdf['Entry_Coordinates'] = gdf['Entry_Coordinates'].apply(Point)
gdf = geopandas.GeoDataFrame(gdf, geometry='Entry_Coordinates')

gdf1['Exit_Coordinates'] = list(zip(df.x_exit, df.y_exit))
gdf1['Exit_Coordinates'] = gdf1['Exit_Coordinates'].apply(Point)
gdf1 = geopandas.GeoDataFrame(gdf1, geometry='Exit_Coordinates')

dis_exit = gdf1['Exit_Coordinates'].distance(b)
dis_entry = gdf['Entry_Coordinates'].distance(b)

movement_direction = np.zeros(df.shape[0])

direction 
for i in range(df.shape[0]):
    if dis_entry[i] > dis_exit[i] :
        movement_direction[i] = 1
    else:
        movement_direction[i] = 0

df["movement_direction"]=pd.DataFrame(movement_direction)

print("Done")

Done

In [110]:
df.head()

,Unnamed: 0,hash,trajectory_id,time_entry,time_exit,vmax,vmin,vmean,x_entry,y_entry,x_exit,y_exit,time_diff,movement_direction
0,0,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_0,2019-04-05 07:04:31,2019-04-05 07:08:32,NaN,NaN,NaN,3.751014e+06,-1.909398e+07,3.750326e+06,-1.913634e+07,00:04:01,1.0
1,1,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_1,2019-04-05 07:20:34,2019-04-05 07:25:42,NaN,NaN,NaN,3.743937e+06,-1.932247e+07,3.744975e+06,-1.931966e+07,00:05:08,1.0
2,2,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_2,2019-04-05 07:53:32,2019-04-05 08:03:25,NaN,NaN,NaN,3.744868e+06,-1.929356e+07,3.744816e+06,-1.929284e+07,00:09:53,1.0
3,3,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_3,2019-04-05 08:17:50,2019-04-05 08:37:23,NaN,NaN,NaN,3.744880e+06,-1.929229e+07,3.744809e+06,-1.929049e+07,00:19:33,1.0
4,4,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_4,2019-04-05 14:38:09,2019-04-05 14:38:09,NaN,NaN,NaN,3.744909e+06,-1.928558e+07,3.744909e+06,-1.928558e+07,00:00:00,0.0